# Default owners for everything
*  @SAABOLImpactVenture/architects  @SAABOLImpactVenture/responsible-engineers

# (examples you can keep or remove)
# src/infra/    @SAABOLImpactVenture/responsible-engineers
# docs/         @SAABOLImpactVenture/architects
