app:
  title: AI-PIaP Backstage
  baseUrl: http://localhost:3000

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  database:
    client: sqlite3
    connection:
      filename: var/db/dev.sqlite3
    useNullAsDefault: true
  csp:
    connect-src: ["'self'", "http:", "https:"]
    script-src: ["'self'", "'unsafe-eval'"]
    img-src: ["'self'", "data:", "https:"]
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  auth:
    keys:
      - secret: dev-secret-please-change
  reading:
    allow:
      - host: localhost:7007
      - host: localhost:3000

auth:
  environment: development
  providers:
    guest: {}
    github:
      development: true
      clientId: ${GITHUB_CLIENT_ID}
      clientSecret: ${GITHUB_CLIENT_SECRET}
      signIn:
        resolvers:
          - resolver: usernameMatchingUserEntityName
    microsoft:
      development: true
      clientId: ${MSFT_CLIENT_ID}
      clientSecret: ${MSFT_CLIENT_SECRET}
      tenantId: ${MSFT_TENANT_ID}
      signIn:
        resolvers:
          - resolver: emailMatchingUserEntityProfileEmail

catalog:
  rules:
    - allow: [Component, API, Location, Resource, System, Domain, Group, User, Template]
  locations:
    - type: file
      target: ./catalog

techdocs:
  builder: 'local'
  generator:
    runIn: 'local'
  publisher:
    type: 'local'
    local:
      publishDirectory: ./site
