app:
  title: AI-PIaP Backstage
  baseUrl: ${APP_BASE_URL}

backend:
  baseUrl: ${BACKEND_BASE_URL}
  listen:
    port: ${PORT:7007}
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT:5432}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      database: ${POSTGRES_DB:backstage}
      ssl:
        rejectUnauthorized: true
  csp:
    connect-src: ["'self'", "https:", "http:"]
  cors:
    origin: ${APP_BASE_URL}
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  auth:
    keys:
      - secret: ${BACKEND_AUTH_SECRET}
  reading:
    allow:
      - host: ${APP_BASE_URL_HOST}
      - host: ${BACKEND_BASE_URL_HOST}

auth:
  environment: production
  providers:
    microsoft:
      development: false
      clientId: ${MSFT_CLIENT_ID}
      clientSecret: ${MSFT_CLIENT_SECRET}
      # For Azure Government tenants, set the authority to the Gov cloud:
      # authority: https://login.microsoftonline.us
      tenantId: ${MSFT_TENANT_ID}
      signIn:
        resolvers:
          - resolver: emailMatchingUserEntityProfileEmail
    github:
      development: false
      clientId: ${GITHUB_CLIENT_ID}
      clientSecret: ${GITHUB_CLIENT_SECRET}
      signIn:
        resolvers:
          - resolver: usernameMatchingUserEntityName

catalog:
  rules:
    - allow: [Component, API, Location, Resource, System, Domain, Group, User, Template]
  locations:
    - type: file
      target: ./catalog

techdocs:
  builder: 'external'
  publisher:
    type: 'azureBlob'
    azureBlob:
      containerName: ${TECHDOCS_CONTAINER:techdocs}
      credentials:
        accountName: ${AZURE_STORAGE_ACCOUNT}
        accountKey: ${AZURE_STORAGE_KEY}
